.dropdown {
    color: black;
}

.runConfigurator {
    border: 1px solid white;
    color: black;
    padding: 2rem;
    background-color: #d9d9d9;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.tabs {
    background-color: black;
    flex: 4;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    justify-content: space-evenly;
    flex: 1;
    padding: 1rem;
    background-color: #4d4d4d;
}

.modelInputs {
    display: flex;
    flex-direction: column;
}

.configuratorOptions {
    text-align: center;
}

.tabTitle {
    color: blue;
}
