.dropdown {
    color: black;
}
.runConfigurator {
    border: 1px solid white;
}
.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.rhs {
    border: 1px solid white;
    flex: 4;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    justify-content: space-evenly;
    flex: 1;
}

.modelInputs {
    display: flex;
    flex-direction: column;
}

.configuratorOptions {
    text-align: center;
}
